
/* Navigation bar padding */
body {
  /*	min_height: 70px; */
  	width: 100%;
  	min-height: 100%;
  	margin:0px;
  	background-color: #3284BF;
    overflow-x: hidden;
}

@font-face{
  font-family: "Title Font";
  src: url('fonts/TitleFont.otf') format('opentype');
}

@font-face{
  font-family: "Proxima Nova";
  src: url('fonts/ProximaNova.otf') format('opentype');
}


.theBody{
  z-index: 1;
  position: relative;
  text-align: center;
  pointer-events: none;
}

#Subtitle{
  font-family: "Proxima Nova", Arial, Helvetica;
  z-index: 2;
  position: relative;
  text-align:center;
}

h1{
  position: relative;
  padding-top: 10%;
  font: 500% "Title Font", Arial, Helvetica;
  pointer-events: none;

}

h2{
  font-size: 150%;
}

.row h2 {
  text-align: center;
  font: 500% "Proxima Nova", Arial, Helvetica;

}


#displayName{
	color: black;
	text-align: left;
  font-size: 100%;
  padding-left: 2%;
}

.navbar{
	padding-bottom: 0;
	margin-bottom: 0;
}

.navbar-inverse{
  width: 100%;
}

#selectionBar{
	margin-top: 0;
	padding-left: 5%;
}

#myChart{
	background-color: white;
	padding: 10px;
}

.navbar-search{
	vertical-align: middle;
}


/* Body */
#indexBackground{
	background-color: gray;
}


html, body, .container-fluid, .row {
    height: 100%;
}

.sidebar {
  background-color: #CCCCCC;
}

#class{
	padding-top: 1%;
}


.chartDisplay{
	padding-top: 2%;
	padding-left: 5px;
	}

@media (min-width: 500px){
	/* Chart */
	.chartDisplay{
	padding-top: 2%;
	padding-left: 5%;
  font-size: 500%;
	}

  h2{
    font-size: 200%;
  }

  #displayName{
    font-size: 30%;
    padding-left: 0%;
  }

  body{
     overflow-y: hidden;
  }
}

@media (min-width: 750px){
	/* Chart */
	.chartDisplay{
	padding-top: 2%;
	padding-left: 30%;
	}

  h1{
    font-size: 1000%;
  }
  #displayName{
    font-size: 40%;
  }
 body{
     overflow-y: scroll;
  }

}


@media (min-width: 700px) and (max-width: 991px){
  .navbar{
    width: 100%;
  }
  .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .h1{
      font-size: 1000%;

    }
    #displayName{
       font-size: 50%;
    }
}


@media (min-width: 992px) {
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    display: block;
    padding-top: 5%;
    padding-left: 5%
    background-color: #CCCCCC;
  }

  h1{
    font-size: 1700%;
  }

  h2{
    font-size: 300%;
  }

  #displayName{
    font-size: 50%;

  }

}



/* ---- base ---- */

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3284BF;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events:auto;
}

.aboutText{
  background-color: white;
  padding-top: 5%;
  height: 130%;
}

.analysisText{
  background-color: white;
  padding-top: 3%;
}

.table-striped{
   width: 90%;
   margin-left: 5%;
}

.analysisText h3{
  text-align: center;
  font-size: 300%;
}

.analysisText h4{
  text-align: center;
}

@media(min-width: 992px)
{
  .analysisText{
    padding-top: 0px;
  }
  
}

.col-md-4{
  text-align: center;
}

.col-md-4 p{
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #101010;
}

.text-muted{
  padding-top: 5px;
}
